<ngt-canvas
  [shadows]="true"
  [camera]="{position: cameraPosition, fov: cameraFov}"
  [scene]='{background: "black" | color}'
  style="height:100vh; width: 100vw;"
>
  <ngt-stats></ngt-stats>

  <ng-container *ngIf="true">
    <ngt-ambient-light [intensity]="0.8"></ngt-ambient-light>
    <ngt-point-light [intensity]="1" [position]="[0, 6, 0]"></ngt-point-light>
  </ng-container>

  <ngt-soba-orbit-controls
    *ngIf="true"
    [makeDefault]="false"
  ></ngt-soba-orbit-controls>

  <!--ngt-soba-text
  [text]="text"
  [color]="'#EC2D2D'"
  [fontSize]="12"
  [maxWidth]="200"
  [lineHeight]="1"
  [letterSpacing]="0.02"
  [textAlign]="'left'"
  font="https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwK4vaqI.woff"
  anchorX="center"
  anchorY="middle"
  (animateReady)="turnAnimate($event.entity)"
>
</ngt-soba-text-->

<!--ngt-soba-text
[text]="text"
[color]="'#EC2D2D'"
[fontSize]="12"
[maxWidth]="200"
[lineHeight]="1"
[letterSpacing]="0.02"
[textAlign]="'left'"
font="https://fonts.cdnfonts.com/s/1761/Garfield.woff"
anchorX="center"
anchorY="middle"
(animateReady)="turnAnimate($event.entity)"
></ngt-soba-text-->


<!--ngt-soba-text
[text]="text"
[fontSize]="12"
[maxWidth]="200"
[lineHeight]="1"
[letterSpacing]="0.02"
[textAlign]="'left'"
font="https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwK4vaqI.woff"
anchorX="center"
anchorY="middle"
[fillOpacity]="0"
[strokeWidth]="'2.5%'"
strokeColor="#ffffff"
(animateReady)="turnAnimate($event.entity)"
></ngt-soba-text-->
  

<!--ngt-soba-text
[text]="text"
[color]="'#EC2D2D'"
[fontSize]="12"
[maxWidth]="200"
[lineHeight]="1"
[letterSpacing]="0.02"
[textAlign]="'left'"
font="https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwK4vaqI.woff"
anchorX="center"
anchorY="middle"
[outlineOffsetX]="'10%'"
[outlineOffsetY]="'10%'"
[outlineBlur]="'30%'"
[outlineOpacity]="0.3"
outlineColor="#EC2D2D"
(animateReady)="turnAnimate($event.entity)"
></ngt-soba-text-->

<!--ngt-soba-text
[text]="text"
[color]="'#EC2D2D'"
[fontSize]="12"
[maxWidth]="200"
[lineHeight]="1"
[letterSpacing]="0.02"
textAlign="right"
direction="auto"
font="https://fonts.gstatic.com/s/scheherazade/v20/YA9Ur0yF4ETZN60keViq1kQgtA.woff"
anchorX="center"
anchorY="middle"
(animateReady)="turnAnimate($event.entity)"
>

</ngt-soba-text-->

<ngt-soba-text
[text]="text"
[fontSize]="12"
[maxWidth]="200"
[lineHeight]="1"
[letterSpacing]="0.02"
[textAlign]="'left'"
font="https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwK4vaqI.woff"
anchorX="center"
anchorY="middle"
(animateReady)="turnAnimate($event.entity)"
>
<ngt-mesh-basic-material
  [parameters]='{side: DoubleSide, color: "turquoise", transparent: true }'
></ngt-mesh-basic-material>
</ngt-soba-text>

</ngt-canvas>
<ngt-soba-loader *ngIf="false"></ngt-soba-loader>
