<div style="height: 80vh; width: 100vw;" fxLayout="column" fxLayoutGap="2em">
  <ngt-canvas>
    <ngt-mesh (animateReady)="onAnimate($event.object)" (click)="active = !active" (pointerover)="hover = true"
      (pointerout)="hover = false" [scale]="active ? [1.5, 1.5, 1.5] : [1, 1, 1]" [position]="[1, 0, 0]">
      <ngt-box-geometry></ngt-box-geometry>
      <ngt-mesh-basic-material [parameters]="{ color: hover ? 'turquoise' : 'tomato' }"></ngt-mesh-basic-material>
    </ngt-mesh>

    <ngt-mesh #mesh2="ngtMesh" (animateReady)="onAnimate(mesh2.mesh)" (click)="active2 = !active2"
      (pointerover)="hover2 = true" (pointerout)="hover2 = false" [scale]="active2 ? [1.5, 1.5, 1.5] : [1, 1, 1]"
      [position]="[-1, 0, 0]">
      <ngt-box-geometry></ngt-box-geometry>
      <ngt-mesh-basic-material [parameters]="{ color: hover2 ? 'turquoise' : 'tomato' }"></ngt-mesh-basic-material>
    </ngt-mesh>
  </ngt-canvas>


  <div>
    <div style="padding-bottom: 1em;" fxFlex="5em">

    </div>

    <button mat-raised-button color="primary" fxFlex (click)="goback()">
      Back
    </button>
    <div style="padding-bottom: 1em;" fxFlex="5em">

    </div>
  </div>
  <div style="padding-bottom: 10px;">

  </div>
</div>