<ngt-canvas
  [shadows]="true"
  [camera]="{position: cameraPosition, fov: cameraFov}"
  [scene]='{background: "black" | color}'
  style="height:100vh; width: 100vw;"
>
  <ngt-stats></ngt-stats>

  <ng-container *ngIf="true">
    <ngt-ambient-light [intensity]="0.8"></ngt-ambient-light>
    <ngt-point-light [intensity]="1" [position]="[0, 6, 0]"></ngt-point-light>
  </ng-container>

  <ngt-soba-orbit-controls
    *ngIf="false"
    [makeDefault]="false"
  ></ngt-soba-orbit-controls>
  <ngt-soba-orbit-controls [makeDefault]="true"></ngt-soba-orbit-controls>
  <ngt-soba-camera-shake
  [maxPitch]="maxPitch"
  [maxRoll]="maxRoll"
  [maxYaw]="maxYaw"
  [pitchFrequency]="pitchFrequency"
  [rollFrequency]="rollFrequency"
  [yawFrequency]="yawFrequency"
></ngt-soba-camera-shake>
<ngt-default-camera-shake-scene></ngt-default-camera-shake-scene>

  
</ngt-canvas>
<ngt-soba-loader *ngIf="false"></ngt-soba-loader>