<div fxLayout="column" style="background-color:  #FFFFB7; height:100vh;"  style="overflow-x: auto;">
    <div fxFlex="grow"  fxLayoutAlign="center center" style="margin-top: 1em;">
        <p>
            <mat-chip-list class="mat-chip-list-stacked" aria-label="Fish selection">
                <mat-chip color="primary" selected>ThreeJs App</mat-chip>
            </mat-chip-list>
        </p>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.gt-sm="center center" >
        <div style="background-color: FFFFB7; margin:5em 2em;" fxLayoutAlign="center center"   >
        
            <mat-chip-list class="mat-chip-list-stacked">
                <button mat-raised-button color="primary" fxFlexAlign="center" style="margin-bottom: 1em;"> Introduction</button>
                <mat-chip color="accent" selected (click)="change3D(1)">Cube</mat-chip>
                <mat-chip color="accent" selected (click)="change3D(2)">Spinning Cube</mat-chip>
                <mat-chip color="accent" selected (click)="change3D(3)">Cube State</mat-chip>
                <mat-chip color="accent" selected (click)="change3D(4)">Two Cubes</mat-chip>
                <mat-chip color="accent" selected (click)="change3D(5)">Cube Lights</mat-chip>
                <mat-chip color="accent" selected (click)="change3D(6)">Cube SpotLights</mat-chip>
                <mat-chip color="accent" selected (click)="change3D(7)">Camera Control</mat-chip>
            </mat-chip-list>
        </div>    
        <div style="background-color: FFFFB7; margin:5em 2em;" fxLayoutAlign="center center">
        
            <mat-chip-list class="mat-chip-list-stacked">
                <button mat-raised-button color="primary" fxFlexAlign="center" style="margin-bottom: 1em;" > Core Api</button>
                <mat-chip color="accent" selected (click)="change3D(1)">Cube</mat-chip>
                <mat-chip color="accent" selected (click)="change3D(2)">Spinning Cube</mat-chip>
                <mat-chip color="accent" selected (click)="change3D(3)">Cube State</mat-chip>
                <mat-chip color="accent" selected (click)="change3D(4)">Two Cubes</mat-chip>
                <mat-chip color="accent" selected (click)="change3D(5)">Cube Lights</mat-chip>
                <mat-chip color="accent" selected (click)="change3D(6)">Cube SpotLights</mat-chip>
                <mat-chip color="accent" selected (click)="change3D(7)">Camera Control</mat-chip>
            </mat-chip-list>
        </div>

        <div style="background-color: FFFFB7; margin:5em 2em;" fxLayoutAlign="center center">
        
            <mat-chip-list class="mat-chip-list-stacked">
                <button mat-raised-button color="primary" fxFlexAlign="center" style="margin-bottom: 1em;"> Cannon</button>
                <mat-chip color="accent" selected (click)="change3D(1)">Cube</mat-chip>
                <mat-chip color="accent" selected (click)="change3D(2)">Spinning Cube</mat-chip>
                <mat-chip color="accent" selected (click)="change3D(3)">Cube State</mat-chip>
                <mat-chip color="accent" selected (click)="change3D(4)">Two Cubes</mat-chip>
                <mat-chip color="accent" selected (click)="change3D(5)">Cube Lights</mat-chip>
                <mat-chip color="accent" selected (click)="change3D(6)">Cube SpotLights</mat-chip>
                <mat-chip color="accent" selected (click)="change3D(7)">Camera Control</mat-chip>
            </mat-chip-list>
        </div>

        <div style="background-color: FFFFB7; margin:5em 2em;" fxLayoutAlign="center center">
        
            <mat-chip-list class="mat-chip-list-stacked">
                <button mat-raised-button color="primary" fxFlexAlign="center" style="margin-bottom: 1em;">Soba</button>
                <mat-chip color="accent" selected (click)="change3D(1)">Cube</mat-chip>
                <mat-chip color="accent" selected (click)="change3D(2)">Spinning Cube</mat-chip>
                <mat-chip color="accent" selected (click)="change3D(3)">Cube State</mat-chip>
                <mat-chip color="accent" selected (click)="change3D(4)">Two Cubes</mat-chip>
                <mat-chip color="accent" selected (click)="change3D(5)">Cube Lights</mat-chip>
                <mat-chip color="accent" selected (click)="change3D(6)">Cube SpotLights</mat-chip>
                <mat-chip color="accent" selected (click)="change3D(7)">Camera Control</mat-chip>
            </mat-chip-list>
        </div>
    </div>

    <div>
        <div style="padding-bottom: 1em;" fxFlex="5em">
    
        </div>
    
        <button mat-raised-button color="primary" fxFlex (click)="goback()">
          Back
        </button>
        <div style="padding-bottom: 1em;" fxFlex="5em">
    
        </div>
      </div>
      <div style="padding-bottom: 10px;">
    
      </div>
</div>