<h3>
    Setup
  </h3>
  <mat-expansion-panel
    (expandedChange)="listExpanded = $event; listExpandedChanges.next($event)"
    [expanded]="listExpanded">
    <mat-expansion-panel-header class="list">
      <mat-progress-bar *ngIf="false" [mode]="'query'"></mat-progress-bar>
      <mat-panel-title>
        List
      </mat-panel-title>
      <mat-panel-description>
        <span
        >{{ (storeList$ | async)?.length }} Repositories Updated every:
          {{ _refreshInterval }} ms
        </span>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <button
      mat-raised-button
      color="primary"
      (click)="onRefreshClicks($event)"
    >
      Refresh List
    </button>
    <ng-container *ngIf="storeList$ | async as list">
      <div *ngIf="list?.length; else noList">
        <mat-list>
          <mat-list-item *ngFor="let item of list">
            {{ item.name }}
          </mat-list-item>
        </mat-list>
      </div>
    </ng-container>
    <ng-template #noList>
      <mat-card>No list given!</mat-card>
    </ng-template>
  </mat-expansion-panel>